* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #403F4C;
}
#container {
    display: flex;
    align-content: space-around;
    padding: 2em;
}
.menu_page {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 15vw;
    margin-left: 2em;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #E3DBDB;
    color: #403F4C;
    height: 80vh;
}
h2 {
    font-size: 3em;
    text-align: center;
    color: #E3DBDB;
}
h3 {
    padding-bottom: 1em;
    font-size: 1.7em;
    text-align: center;
}
article {
    border: solid 2px black;
    text-justify: auto;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 1em;
    background-color: #E3DBDB;
    color: #403F4C;
}
ol>li>a:link, ol>li>a:visited, ol>li {
    text-decoration: none;
    color: #403F4C;
    font-size: 1.4vw;
}
ol>li:hover, ol>li>a:hover {
    color: #66CED6;
    font-size: 2vw;
}
img {
    width: 50%;
}
p {
    margin:0.4em;
}


@media (max-width: 800px) {
    .menu_page {
        display: none;
    }
    section:nth-last-of-type(1) {
        order:2;
    }
    #container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 2em;
    }
    img {
        width: 70%;
    }
}