body {
    display: grid;
    grid-template-rows: 250px 5fr 75px;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

/*Tous les liens*/

ul>li>a:link {
    color: #403F4C;
    text-decoration: none;
}

ul>li>a:visited {
    color: #2C2B3C;
    text-decoration: none;

}

/*header des pages*/

header {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    background-color: #2C2B3C;
    border: #2C2B3C solid 1px;
    margin: 0;
}

header div {
    display: flex;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 1 ;
    margin: 1em;
}

header > div > img {
    border-radius: 5px;
}

h1 {
    grid-row: 1;
    grid-column: 2;
    font-size: 3vw;
    text-align: center;
    color: #E3DBDB;
}

nav {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

nav>ul>li {
    width: 10%;
    background-color: #E3DBDB;
    border: #E3DBDB solid 1px;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.2vw;
    text-align: center;
    color: #2C2B3C;
}

/*page contact.html*/

/*section et form*/

#sectionform {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 20px;
    grid-template-columns: 20px 1.3fr  1fr;
    padding: 1em;
}

#art1form img {
    width: 99%;
    height: 85%;
}

form {
    grid-row: 1;
    grid-column: 2;
}

form h2 {
    font-size: 2vw;
    text-align: center;
    align-self: center;
    color: #2C2B3C;
}

/*fieldset de la section*/ 

fieldset {
    height: 90%;
    margin: 2em 2em 2em 2em;
    padding-top: 2em;
    font-size: 1vw;
    border-radius: 5px;
    background-color: #E3DBDB;
}

input, label, textarea {
    margin: 1em;
    padding: 0.4em;
    border-radius: 5px;
    color: #2C2B3C;
}

.radio input {
    margin: 1em 0.1em 1.5em 1.5em;
}

.radio label {
    margin: 1em 0.2em 1.5em 0;
}

#pform, fieldset p{
    margin: 0.4em 0 0.4em 1em;
    color: #2C2B3C;
}

#sub {
    margin-top: 4em;
}

/*article de la section formulaire*/

#articleform {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#art1from {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 8em 1em 0em 1em;
}

#art1form p {
    font-size: 1.5vw;
    color: #E3DBDB;
    text-align: center;
}
#art1form a:link, #art1form a:visited {
    text-decoration: none;
}

#art2form {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

#art2form p {
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #E3DBDB;
}



@media only screen and (max-device-width: 800px)  {

/*header des pages*/
    body {
        grid-template-rows: 150px 4fr 75px;
    }

    header {
        grid-template-rows: 1fr;
    }

    header div {
        grid-row: 1;
        grid-column: 1;
        align-items: center;
    }

    header > div > img {
        width: 30%;
    }

    h1 {
        display: none;
    }
    
    nav {
        grid-row: 1;
        grid-column: 2;
    }

    ul {
        margin-right: 1em;
    }

/*page contact.html*/

/*section et form*/

#sectionform {
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr;
}

form {
    grid-row: 1 ;
    grid-column: 1;
}

form h2 {
    font-size: 3vw;
}

/*fieldset de la section*/ 

fieldset {
    margin: 0 0 0 0.4em;
}

label, #pform, fieldset p {
    font-size: 2vw;
}

/*article de la section*/

#articleform {
    grid-row: 2 / 4;
    grid-column: 1;
}

#art1form {
    margin: 2em 0 0 0;
}

#art1form p {
    font-size: 2vw;
}

#art2form {
    justify-content: center;
    margin: 1em 0 2em 0;
}

#art2form p {
    font-size: 2vw;
}

#art2form a {
    margin: 0 1em 0 0;
}
}
/*contenu page*/
body {
    background-color: #E3DBDB;
}
.content {
    grid-column: 1;
    grid-row: 2;
}
#container {
    display: flex;
    align-content: space-around;
    padding: 2em;
}
.menu_page {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 15vw;
    margin-left: 2em;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #616072;
    color: #E3DBDB;
    height: 95%;
}
h2 {
    font-size: 3em;
    text-align: center;
    color: #403F4C;
    margin: 0.5em;
}
h3 {
    padding-bottom: 1em;
    font-size: 1.7em;
    text-align: center;
}
article {
    border: solid 2px black;
    text-justify: auto;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 1em;
    background-color: #616072;
    color:  #E3DBDB;
}
ol>li>a:link, ol>li>a:visited, ol>li {
    text-decoration: none;
    color: #E3DBDB;
    font-size: 1.2vw;
    padding: 0.3em;
}
ol>li:hover, ol>li>a:hover {
    color: #66CED6;
    font-size: 2vw;
}
article div img {
    width: 50%;
}
p {
    margin:0.4em;
}

/* accueil*/
#sectionindex {
    display: grid;
    grid-template-columns: 115px 1fr 1fr 115px;
    grid-template-rows: 1fr 0.6fr 1.2fr;
}
#sectionindex>article:first-child {
    grid-column: 2 /span 2;
    grid-row: 1;
    margin: 1em;
}
#sectionindex>article:nth-child(2) {
    grid-column: 2 ;
    grid-row: 2 /span 2;
    margin: 1em;
}
#sectionindex>article:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
    margin: 1em;
}
#sectionindex>article:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
    margin: 1em;
}
.presenter {
    text-align: right;
    font-size: 1em;
}
@keyframes animIM {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.clic {
    text-align: center;
}
#ironman:active {
    animation: animIM 1s linear;
}

@media only screen and (max-width: 800px) {
    .menu_page {
        display: none;
    }
    section:nth-last-of-type(1) {
        order:2;
    }
    #container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 2em;
    }
    article>div>img {
        width: 70%;
    }
    /*Accuei*/
    
    #sectionindex {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
}

/* STYLE DU FOOTER*/
footer {
    background-color: #2C2B3C;
    color:#E3DBDB;
    text-align: center;
    font-size:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding:1em;
    margin:0;
}

footer a:link {
    color:#E3DBDB;
}

footer a:visited {
    color:#E3DBDB;
}

@media (max-width: 800px){
    footer {
        flex-direction: column;
        font-size:80%;
    }
}

/*STYLE DES PHOTOS */

.container_photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.container_photo img {
    width: 100%;
    max-height: 90%;
    border: solid 2px #E3DBDB;
    background-color: #E3DBDB;
    border-radius: 10px;
    padding: 0.1em;
    margin:0;
}

#css_photo1{
    grid-column: 1 / 3;
    grid-row: 1 /3;
}

#css_photo2{
    grid-column: 3 / 4;
    grid-row: 1 /3;
}

#css_photo3{
    grid-column: 1;
    grid-row: 1 /3;
}

#css_photo4{
    grid-column: 2;
    grid-row: 1 /3;
}

#css_photo5{
    grid-column: 3;
    grid-row: 1;
}

#css_photo6{
    grid-column: 3;
    grid-row: 2;
}

#css_photo7{
    grid-column: 1 / 3;
    grid-row: 1 /3;
}

#css_photo8{
    grid-column: 3 / 4;
    grid-row: 1 /3;
}

@media (max-width: 800px){
    .container_photo{
        display: flex;
        flex-direction: column;
    }
}

/* style video api*/
iframe {
    border: solid 2px #E3DBDB;
    background-color: #E3DBDB;
    border-radius: 10px;
    padding: 0.1em;
    margin:0;
}


/* Ajout taille p */

p {
    font-size: 1.1em;
    margin: 0.6em;
}

/* style photo api */

#photo_api{
    grid-column: 1 / 4;
    grid-row: 1 /4;
}

/*page JavaScript*/
.imgfunctjs {
    width: 30%;
}

#imgfunctjs {
    text-align: center;
}